
@{
    ViewData["Title"] = "Dashbord";
}
<style>
    .list-group-item a{
        text-decoration:none;
        color:black;
       
    }

    .list-group{
        border-radius: 20px;
      
      
    }

    .list-group-item:nth-child(odd) {
        background-color: #B1EFF1;
    }

    .list-group-item:nth-child(even) {
        background-color: #F39495;
    }
</style>
<h2>Welcome, Admin!</h2>

<div class="row">
    <div class="col-md-3">
        <!-- Sidebar -->
        <ul class="list-group fw-bold">
            <li class="list-group-item"><a href="/Insurence/List">Finance Insurance</a></li>
            <li class="list-group-item"><a href="/Insurence/HelthList">Health Insurance</a></li>
            <li class="list-group-item"><a href="/Insurence/CarList">Car Insurance</a></li>
            <li class="list-group-item"><a href="/Insurence/LifeList">Life Insurance</a></li>
            <li class="list-group-item"><a href="/Insurence/TravelList">Travel Insurance</a></li>
            <li class="list-group-item"><a href="/Insurence/PropertyList">Property Insurance</a></li>
            <li class="list-group-item"><a href="/Insurence/CommercialList">Commercial Insurance</a></li>
            <li class="list-group-item"><a href="/Insurence/FireList">Fire Insurance</a></li>
            <li class="list-group-item"><a href="/Insurence/MarineList">Marine Insurance</a></li>
            <li class="list-group-item"><a href="/Insurence/RetairementList">Retirement Insurance</a></li>
            <li class="list-group-item"><a href="/Insurence/SIPList">SIP Plan</a></li>
        </ul>
    </div>
</div>
