@model IEnumerable<RadhaCapitalFinance.Core.Entities.RetirementModel>
@{
    ViewData["Title"] = "RetairementList";
    Layout = "~/Views/Shared/_InsurenceLayout.cshtml";
}

<h1>RetairementList</h1>

