
@{
    ViewData["Title"] = "MWF";
    Layout = "~/Views/Shared/_InsurenceLayout.cshtml";
}
<style>
    .box{
        height:70px;
        background-color: #E96B7F;
        justify-content:center;
        display:flex;
        align-items:center;
    }

    .col-12 h4{
        background-color: #060270;
        color:white;
        height:40px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-top:30px;

    }

    .Image{
        width:100%;
        height:auto;
        margin-top:100px;
    }

    .star-marker {
        list-style-type: "★  "; 
        color: black;
    }

    .col-12 b{
        background-color: #6F1314;
        color:#fff;
        height:50px;
        justify-content:center;
        display:flex;
        align-items:center;
    }
   
    </style>
<div class="row">
    <div class=" col-12 col-md-12 box">
        <h3>MWF(Married Women's Fund)</h3>
    </div>
    <div class="col-12 col-md-5 offset-lg-1">
        <h4>What is the MWP Act?</h4>
        <p>Under this Act, Section 6 provides that if a married man
            takes out a life insurance policy in his own name and
            specifically mentions that it is for the benefit of his
            wife, or wife and children (or any of them), then such 
            a policy will be treated as a trust. This means the policy 
            is legally considered to be held for their benefit.</p>

        <h5 style="color:#110D69">How does the MWP Act protect my family?</h5>
    <p>A term insurance policy purchased under the purview of the Married Women’s Property (MWP) Act is legally considered a trust. In such a case:</p>
    <ul>
            <li>Only the trustees have complete control over the policy, including servicing and receiving the claim proceeds.</li>
            <li>In the event of a death claim, the policy amount is received by the trust and held exclusively for the benefit of the wife and/or children.</li>
            <li>The proceeds cannot be claimed by creditors, relatives, or included in the proposer’s estate or will.</li>
            <li>This ensures that the financial security of your wife and children remains fully protected.</li>
            
    </ul>

    </div>
    <div class="col-12 col-md-5 offset-lg-1">
		<img src="\images\mwp.jpg" class="Image"/>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 col-md-8 mx-md-auto">
        <h4>How do you buy term insurance under the MWP Act?</h4>
        <p>While you are buying the plan, in the application form, you will see this question: I would like to buy this policy under the Married Women's Property Act, 1874.</p>
        <p>Just select "YES" for this question. Once selected, you will have to enter the
            beneficiary and trustee details e.g. the beneficiary name, relationship, date of 
            birth and benefit share (in %). You can only choose your wife/child/children as beneficiaries.
            You can add multiple beneficiaries.</p>
        <h5 style="color:#110D69">Who should opt for the MWP Act?</h5>
        <ul class="star-marker">
            <li>Business owners or salaried individuals with loans or liabilities to safeguard their family from creditors in case of debt.</li>
            <li>People who want to protect their wife and/or children from possible claims by relatives or others with fraudulent intentions.</li>
            <li>Anyone purchasing term life insurance – since the benefit amount is usually large enough to secure the financial future of loved ones,
                opting for coverage under the MWP Act ensures that only the wife and/or children receive the proceeds.</li>
        </ul>
    </div>
</div>
<div class="col-12 col-md-12 mx-md-auto">
    <b>Contact Our Team For More Information</b>
</div>

