.input-sm {
    width: 100%;
    height: 35px;
    border-radius: 0px;
    font-size: 12px;     
}
.btn-sm {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
    color: white;
}

.form-lebel {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.field-validation-error {
    font-size: 12px;
}
