.nav-link:hover {
    color: red !important;
}

.footer-link {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}

.btn-login {
    background-color: sandybrown;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .btn-login:hover {
        background-color: #e69500;
        color: white;
    }

.navbar-brand {
    color: sandybrown !important;
}

.nav-link.active {
    font-weight: bold;
}



/*start Footer part */
.footer-container-wrapper {
    background-color: #f8f9fa;
    padding: 5px 0;
    font-size: 14px;
    color: black;
}

.footer-nav h4, .updated h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-nav ul, .bottom-pane-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .footer-nav ul li a,
    .bottom-pane-links li a {
        color: #333;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .footer-nav ul li a:hover,
        .bottom-pane-links li a:hover {
            color: #d2691e; /* Sandybrown */
        }

.updated a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    color: #000;
}

.social-links img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

    .social-links img:hover {
        transform: scale(1.1);
    }

.footer-bottom-pane {
    background-color: #e9ecef;
    padding: 2px 0;
    font-size: 13px;
}

    .footer-bottom-pane a {
        color: #333;
        margin-right: 15px;
    }

.footer-logo img {
    max-width: 100%;
    height: auto;
}




.social-links i {
    font-size: 20px;
    color: #730218; /* Change color as per your footer background */
    padding: 8px;
    transition: 0.3s;
}

.social-links i:hover {
    color: #f0c040; /* Hover color */
}
.footer-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.footer-link a,
ul a {
    color: black; 
    text-decoration: none; 
}

    .footer-link a:hover,
    ul a:hover {
        color: blue; 
        text-decoration: underline; 
    }




